:root {
    --home-bg-color: #e2c7b0;
    --home-bg2-color: #f5ece4;
    --home-lt-color: #D3B08E;
    --home-ct-bg-color: #C6986D;
    --home-ct-bg2-color: #dcc0a5;
    --home-hover-color: #AD7844;
    --home-comp: #92B4D4;
    --home-comp-dark: #6a98c4;
* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, var(--home-bg2-color) 0%, var(--home-bg-color) 100%);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    animation: moveGradient 5s ease infinite;
    color: var(--home-lt-color);
    height: 100vh;
    margin: 0;
}

.container {
    width: 30vw;
    max-width: 600px;
    min-width: 500px;
    height: 60vh;
    background: linear-gradient(180deg,var(--home-ct-bg-color) 0%, var(--home-ct-bg2-color) 100%);
    color: var(--home-bg2-color);
    border-radius: 10px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    text-align: center;
}

.topnav {
  background-color: var(--home-ct-bg-color);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--home-bg2-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--home-lt-color);
  color: var(--home-hover-color);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--home-comp);
  color: white;
}

.container_cadastro {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container_cadastro form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label{
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit {
    margin-top: auto;
    padding: 10px;
    background-color: var(--home-comp);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.submit:hover {
    background-color: var(--home-comp-dark);
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}