:root {
    --home-bg-color: #f5ece4;
    --home-lt-color: #D3B08E;
    --home-ct-bg-color: #C6986D;
    --home-hover-color: #AD7844;
    --home-comp: #92B4D4;
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--home-bg-color);
    color: var(--home-lt-color);
}

.container {
    width: 60vw;
    height: 40vh;
    background-color: var(--home-ct-bg-color);
    color: var(--home-bg-color);
    border-radius: 10px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
}

.topnav {
  background-color: var(--home-ct-bg-color);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--home-bg-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--home-lt-color);
  color: var(--home-hover-color);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--home-comp);
  color: white;
}