{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="{% static 'app_catalogo/cadastro_style.css' %}">
</head>
<body>
  <div class="topnav">
    <a href="{% url 'home' %}">Catalogo</a>
    <a class="active" href="{% url 'cadastro' %}">Cadastro</a>
    <a href="#">Login</a>
    <a href="#">Sobre nós</a>
  </div>

  <div class="container">
    <h1>Cadastro</h1>
    <div class="container_cadastro">
        <form action="" method="post">
            <div class="input-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
            </div>

            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>

            <button type="submit" class="submit">Cadastrar</button>
    </form>
    </div>
  </div>


  
</body>
</html>